.textoh2{
    text-align: center;
}
.hero {
    height: 100vh;
    background: url('https://wallpapers.com/images/hd/1920-x-1080-hd-gaming-d8e4yc3bhw5ykcdx.jpg') no-repeat center center/cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.carousel-container {
    margin-top: 30px; 
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto; 
}
.carousel-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.logo{
    width: 70px;
    height: 70px;
}
.card {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Para que todas las tarjetas tengan la misma altura */
}

.imagen-curso {
    max-height: 200px; /* Ajusta la altura de la imagen si es necesario */
    object-fit: cover; /* Asegura que la imagen mantenga su aspecto sin recortarse */
}


.imagen-curso {
    border-radius: 10px 10px 0 0;
}
.info-card {
    padding: 15px;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #f5f3f3
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 20px 0 0 0;
    background: rgb(5, 24, 66);
    text-align: center;
}
@media (min-width: 750px) {
    header {
        text-align: left;
    }
}
.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}
#hero {
    background-image:url(../img/hero.jpg);
    height: 350px;
    background-size: cover;
}
#encabezado {
    margin: 30px 0;
}
.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.contenido-hero {
    margin-top: 80px;
    color: white;
}
.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}
.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}


.barra {
    padding: 20px 0;
    background: #1637a5; 
    background: -moz-linear-gradient(left, #1e1d74 20%,#1637a5 80%); 
    background: -webkit-linear-gradient(left, #1637a5 0%,#1637a5 100%);
    background: linear-gradient(to right, #1637a5,#1637a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
    margin:0;
    color: white;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom:0;
    }
}
.icono1 {
    background-image: url(../img/icono1.png);
}
.icono2 {
    background-image: url(../img/icono2.png);
}
.icono3 {
    background-image: url(../img/icono3.png);
}

#lista-cursos .row {
    margin-bottom:20px;
}
.agregar-carrito {
    margin:10px 0;
}

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}


.footer {
    margin-top: 40px;
    border-top:1px solid #aaa;;
    padding-top: 40px;   
}
.footer .menu a{
display: block;
margin-bottom: 10px;
text-decoration: none;
}
